.progressBar {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  visibility: visible;
  opacity: 1;
  transition: height .3s ease-in .3s, width .4s ease-in-out;
}
.progressBarReset {
  @extend .progressBar;
  transition: none;
}
.progressBarHidden {
  @extend .progressBar;
  height: 0;
}
