#progressBar {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  visibility: visible;
  opacity: 1;
  transition: opacity 1s ease-in-out .4s, height .4s, visibility 0 linear, width .4s ease-in-out;
}
#progressBar.hidden {
  visibility: hidden;
  height: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out, height 0, visibility 0 linear 1.6s, width .4s ease-in-out;
}
